.goal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.goals {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.goals ul {
  list-style: none;
  padding: 1rem;
}

.goals li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}